body {
    background-color: rgba(26,25,31,0.75);
    color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1270px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    width: 100%;
}

.logo {
    padding-top: 17px;
    width: 100px;
}

.header-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 75%;
}
a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

.header-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.search-bar {
    background-color: rgba(54, 53, 61, 0.75);
    border-right: none;
    border-radius: 10px;;
    height: 40px;
    width: 250px;
}

.search-bar:focus {
    outline-color:  #ffd80e;
}

.search-icon {
    position: relative;
    top: 8px;
    right: 30px;
}

.sign-in {
    color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 10px;
    background-color: rgba(26,25,31,0.75);
    height: 40px;
    width: 120px;
}

.sign-in:focus {
    outline-color:  #ffd80e;
}

.heading-part {
    color: rgba(255,255,255,0.7);
}

.arrows {
    color: rgba(255,255,255,0.7);
}

.first-section{
    width: 100%;
}

.first-section-navigation{
    transform: scale(1.2);
    padding-top: 30px;
}

.new-releases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.background-image {
    height: 350px;
    position: absolute;
    opacity: 0.1;
    top: 80px;
    width: 100%; 
    z-index: -1;
}

.popular-movies {
    color: rgba(255,255,255,0.7);
}

.second-section-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%
}

.highlighted {
    border-bottom: 3px solid #ffd80e;
    color: #ffd80e;
    padding-bottom: 10px;
}

.second-section {
    padding-bottom: 1px;
    border-bottom: 3px solid  rgba(210,201,255,0.1);
}