html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: rgba(26,25,31);
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

.container {
    padding: 0 10px 1;
    margin: 0 auto;
    max-width: 1270px;
    min-height: calc(100% - 70px);
    width: 100%;
}
/* Header */

header {
    background-color: rgba(26,25,31);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.header {
    border-bottom: 4px solid rgba(210,201,255,0.1);
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1270px;
    padding: 0 10px;
    width: 100%;
}

.header-first ul {
    padding: 0;
    list-style: none;
}

.header-first ul a {
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}

.header-first {
    display: flex;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.logo {
    width: 100px;
}


.header-second {
    color:  rgba(255,255,255,0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.hidden-header-search {
    display: none;
}

.search {
    width: 50%;
}

#search2 {
    display: none;
}

.header-search {
    background-color: rgba(26,25,31,0.75);
    border: 1px solid #ffd80e;
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    height: 35px;
    outline-color: #ffd80e;
    width: 80%;
}

.search-button {
    background-color: rgba(26,25,31,0.75);
    border: 1px solid #ffd80e;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    height: 39px;
    margin: 0;
    float: left;
}

.language {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    text-decoration: none;
}


.header-button {
    background-color: rgba(26,25,31,0.75);
    border: 1px solid  #ffd80e;
    border-radius: 5px;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    height: 35px;
    width: 20%;
}

.hamburger {
    display: none;
}

#hamburger2 {
    display: none;
}

.sicon {
    padding-top: 5px;
}

.login-icon {
    color: rgba(255,255,255,0.7);
    display: none;
}

.hidden-search-icon {
    display: none;
}

/* Footer */

footer {
    background-color: rgba(26,25,31);
    border-top: 4px solid rgba(210,201,255,0.1);
    margin-top: 10px;
    height: 70px;
    width: 100%;
    clear: both;
}

.footer {
    background-color: rgba(26,25,31);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-first {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.copyright {
    color:  rgba(255,255,255,0.4);
}

.footer-second {
    width: 30%;
}

.footer-menu {
    align-items: center;
    display: flex;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.footer-links {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

.footer-arrow {
    border: 1px solid #ffd80e;
    border-radius: 5px;
    padding: 5px;
}

.hidden-copyright {
    display: none;
}

.footer-hidden {
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* First Section Background Image */

.background-image {
    height: 475px;
    position: absolute;
    opacity: 0.1;
    top: 70px;
    width: 100%; 
    z-index: -1;
}

/* First Section */

.slider-item {
    outline: none;
}

.movie-title {
    color: #fff;
    text-decoration: none;
}

.movie-icon {
    height: 100px;
    z-index: 100;
}

.popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.popular-items {
    width: 18%;
}

.popular-items img {
    width: 100%;
}

.popular-items .ratings {
    background-color: black;
    border-radius:100%;
    border: 3px solid green;
    padding: 3px;
    position: relative;
    top: 35px;
    left: 10px;
}


.popular-items p {
    margin-top: 0;
    margin-bottom: 0;
}

.popular-items .rel-date {
    color:  #ffd80e;
}

.items .ratings{
    background-color: black;
    border-radius:100%;
    border: 3px solid green;
    padding: 3px;
    position: relative;
    top: 35px;
    left: 10px;
}

.low-ratings {
    border: 3px solid orange;
    background-color: black;
    border-radius:100%;
    padding: 3px;
    position: relative;
    top: 35px;
    left: 10px;
}


.items p {
    margin-top: 0;
    margin-bottom: 0;
}

.items .rel-date {
    color: #ffd80e;
}

.slider {
    display: flex;
    flex-direction: row;
    position: relative;
}


.slider .priv-arrow {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -10%;
    right: 5%;
    text-align: center;
}

.slider .next-arrow {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -10%;
    right: 0;
    text-align: center;
}

.section-divider {
    border-bottom: 2px solid rgba(210,201,255,0.1);
    padding-bottom: 0;
}

.first-section{
    padding: 80px 0 0 10px;
    width: 100%;
}

.first-section-navigation{
    transform: scale(1.2);
    padding-top: 30px;
}

.new-releases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.second-section {
    margin-top: 70px;
}


.popular-movies {
    color: rgba(255,255,255,0.7);
}

.second-section-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%
}

.second-section-list a {
    text-decoration: rgba(255,255,255,0.7);
}

#highlighted {
    border-bottom: 3px solid #ffd80e;
    color: #ffd80e;
    padding-bottom: 10px;
}


.second-section-list li {
    color: rgba(255,255,255,0.7);
}


.second-section {
    padding-bottom: 1px;
    border-bottom: 3px solid  rgba(210,201,255,0.1);
}

.login-icon {
    display: none;
}

.top-movies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-part {
    color: rgba(255,255,255,0.7);
}

.arrows {
    color: rgba(255,255,255,0.7);
}

.wrapper {
    min-height: calc(100% - 70px);
    width: 100%;
}

/*MOVIE DETAILS*/

.background-img {
    position: absolute;
    top: 70px;
    left: 0;
    filter: blur(8px);
    height: 400px;
    width: 100%;
    z-index: -100;
}

.play {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    left: 450px;
    width: 80px;
    z-index: 2;
}

.play span{
    position: relative;
    left: 600px;
    color: #ffd80e;
    transform: scale(2);
}
.play p {
    position: relative;
    left: 600px;
}
.poster {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.poster img {
    position: relative;
    top: 70px;
    left: 200px;
    height: 460px;
    width: 70%;
}

.title-of-movie {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.movie-duration {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-duration p{
    color: rgba(255,255,255,0.7);
    margin: 0 50px;
}

.movie-details {
    text-align: center;
    color: rgba(255,255,255,0.7);
}

.trailer {
    text-align: center;
    margin-top: 20px;
}

.trailer-icon {
    color: #ffd80e;
    transform: scale(2);
}

.genre {
    text-align: center;
}

.genre span {
    border: 1px solid #ffd80e;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}

.director {
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

.stars {
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

.similar-movies {
    margin: auto 10px;
}
@media only screen and (max-width: 1200px) {
    


    .header-list {
        background-color: rgba(26,25,31);
        display: initial;
        position: absolute;
        height: 100vh;
        right: -1000px;
        top: 54px;
    }

    .header-list-shown {
        right: 0;
        top: 54px;
        transition: right 0.5s linear;
    }



    .header-list li {
        margin: 35px 20px;
    }


    .search {
        display: none;
    }

    .mobile-search {
        display: initial;
    }


    .header-search {
        border: 1px solid #ffd80e;
        border-radius: 5px;
        position: fixed;
        top: 75px;
        left: 75px;
    }

    .footer {
        padding: 10px 0;
    }
    

    .arrows {
        display: none;
    }
    

    .popular-items {
        width: 40%;
    }

    .hidden-search-icon {
        display: initial;
        color: rgba(255,255,255,0.7);
    }

    .hamburger {
        cursor: pointer;
        display: initial;
    }

    .header-button {
        display: none;
    }

    .login-icon {
        display: initial;
        border: 1px solid #ffd80e;
        border-radius: 5px;
    }

    .footer-hide {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    .footer-first {
        width: 100%;
    }

    .footer-second {
        width: 100%;
    }

    .footer-hidden-arrow {
        display: none;
    }

    .footer-hidden {
        display: flex;
    }
}